html,body{
  height: 100%;
}

body{
  margin: 0;
}

body {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
            "header"
            "main"
            "footer";
  grid-template-rows: 75px 1fr 100px;
}

h1 {
  margin: 10px;
  color: #ffffff;
}

.header {
  display: grid;
  grid-area: header;
  justify-content: flex-end;
  padding: 20px;
  background-color: #E5FCC2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.content-wrapper {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  padding: 2em;
}

.about-panel {
  margin: 10px;
  padding: 30px;
  grid-column: 1/2;
  background-color: #45ADA8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.about-panel > h2, p, ul, li {
  opacity: 80%;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttons > * {
  padding: 10px;
  margin: 40px;
  width: 150px;
  background-color: #45ada8;
  border-color: #45ada8;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#todo-container {
  grid-column: 2/4;
  margin: 10px;
  padding: 10px;
  background-color: #9DE0AD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.authentication-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.authentication-container {
  margin: 50px;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  background-color: #45ada8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.form > * {
  margin: 10px;
}

.form-error {
  padding: 4px;
  margin-left: 10px;
  margin-top: 0px;
  width: 200px;
  background: rgb(162, 85, 83);
  color: #ffffff;
  border-radius: 10px;
}

.dashboard-wrapper {
  display: flex;
  margin: 20px;
}

.dashboard-container {}

.list {
  margin: 10px;
  padding: 10px;
  width: 300px;
  min-height: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  min-height: 200px;
  padding-bottom: 40px;
}

.bottom {
  position: absolute;
  bottom: 10px;
  height: 40px;
}

.save-button {
  padding: 5px;
  margin: 5px;
  width: 120px;
  background-color: #45ada8;
  border-color: #45ada8;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.new-list-button {
  padding: 5px;
  margin: 5px;
  width: 120px;
  background-color: #3E99F8;
  border-color: #3E99F4;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.delete-button {
  padding: 5px;
  margin: 5px;
  width: 120px;
  background-color: #ED1D4D;
  border-color: #F1557A;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.task-form {
  /*margin-bottom: 50px;*/
}

.task-form input {
  width: 220px;
}

.task-form button {
  padding: 5px;
  height: 35px;
}

.task {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.header-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-option {
  margin: 10px;
}

footer {
  display: grid;
  grid-area: footer;
  background-color: #547980;
  justify-content: center;
  color: #ffffff;
}

footer p a {
  color: #ffffff
}

.active {
  display: block;
}

.inactive {
  display: none;
}
